<h4>Projects:</h4>
<ul>


	<div id="checkyo">
		<h5>Check yo self before you wreck yourself</h5>
		<ul>2014 Fall Fuse "Heath-care at Home" Hackathon • Dublin, Ohio
			<ul>
				<li>"Check yo self before you wreck yourself" was a phone app that we developed at the 2014 Fall Fuse
					"Heath-care at Home" Hackathon. This was basically an aggravate, that would get information from
					three sources. WebMD, Mayo Clinic, and Wikipedia, and would display the symptoms and treatments for
					the ailment the user entered.</li>
				<li><a href="https://github.com/UbiquitousSpice/HackathonNovember2014">Github repository</a></li>
			</ul>
			<a href="projects.html#checkyo">Read more</a>
		</ul>


	</div>
	<br>

	<div id="eventfindr">
		<h5>Event Findr</h5>
		<ul>2016 PennAppsXIII • Philadelphia, Pennsylvania
			<ul>
				<li>"Event Findr" was a website that attempted to compile a list of college events, that are open to the
					public, into a single centralized place that the public could easily access. To achieve this we
					pulled the information from the colleges RSS feeds and extracted the information contained in the
					XML files. We then made the information searchable by category, city, and date.</li>
				<li><a href="https://github.com/KurtisReid/eventfinder">Github repository</a></li>
				<li><a href="http://devpost.com/software/eventfinder">Devpost</a></li>
			</ul>
			<a href="projects.html#findr">Read more</a>


		</ul>

	</div>
	<br>

	<div id="person-web">
		<h5>KurtisReid.github.io <small>personal website</small></h5>
		<ul>
			<ul>

				<li>Created a professional portfolio website, using the front end framework foundation, in HTML and CSS.
					The website itself is hosted from GitHub repository.</li>
				<li><a href="https://github.com/KurtisReid/KurtisReid.github.io">Github repository</a></li>
			</ul>
			<a href="projects.html#person-web">Read more</a>
		</ul>


	</div>
	<br>

	<div id="mhacks">
		<h5>Walmart trips</h5>
		<ul>MHacks 6 • Ann Arbor, Michigan
			<ul>
				<li>Some experimentation with the Walmart API that I did during MHacks 6. The idea was to show the user
					the furthest Walmart store away from them, and then use the Expedia API to book a flight to it.
					While I was not able to complete this project due to technical difficulties, this project advanced
					my knowledge of both how APIs work as well as javascript.</li>
				<li><a href="https://github.com/KurtisReid/walmart_trips">Github repository</a></li>
			</ul>
			<a href="projects.html#mhacks">Read more</a>
		</ul>


	</div>
	<br>

	<div id="fimp">
		<h5>FIMP <small>Fashion in my pocket</small></h5>
		<ul>2015 Spring Fashion / Tech Hackathon • Kent State University
			<ul>
				<li>FIMP - Fashion In My Pocket- is an interactive app that is meant to help anyone make the most of
					their time when it comes to packing for trips, organizing their closet, or just picking out
					something to wear.</li>

			</ul>
			<a href="projects.html#fimp">Read more</a>
		</ul>



	</div>
	<br>
					</ul>