<h4>Computer Skills</h4>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/konpa/devicon@master/devicon.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/konpa/devicon@master/devicon.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/konpa/devicon@master/devicon.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/konpa/devicon@master/devicon.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/konpa/devicon@master/devicon.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/konpa/devicon@master/devicon.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/konpa/devicon@master/devicon.min.css">


<i class="devicon-mongodb-plain"></i>
<i class="devicon-nodejs-plain"></i>
<i class="devicon-javascript-plain"></i>
<i class="devicon-html5-plain"></i>
<i class="devicon-css3-plain"></i>
<i class="devicon-cplusplus-plain"></i>
<!-- in your body -->
<i class="devicon-angularjs-plain"></i>

<!--
<table style="width:100%">
	<tr>
		<td><b>Desktop Operating Systems:</b></td>
		<td>Ubuntu (Trusty Tahr), Microsoft Windows 7/XP</td>
	</tr>
	<tr>
		<td><b>Application Software:</b></td>
		<td>Microsoft Excel, Word, Power Point, VIM, Putty, LibreOffice, Git, GitHub, Google Drive, Cura, TinkerCAD</td>
	</tr>
	<tr>
		<td><b>Programming Skills:</b></td>
		<td>Nodejs, C++, HTML, CSS, Python</td>
	</tr>
</table>-->
