<h4>Work Experience:</h4>
<ul>
	<h5>Junior Software Developer</h5>
	<ul>GE Transportation (Tech Mahindra) - Melbourne, Florida - March 2018 to Present
		<ul>
			<li> Developed advanced MS Excel macros for application teams to speed up analysis of train performance data
				from 3 hours to 15 minutes.</li>
			<li>Collected historical data and third-party data from different data source including Linux environment
			</li>
			<li>Worked on data cleaning and ensured data quality, consistency, integrity</li>
			<li>Reduced manual effort to a minute by automating file creation</li>
			<li>Made presentations to project the difference in fuel optimization of trains customer’s organization</li>
			<li>Developed professional skills in an office setting with a diverse set of employees</li>
		</ul>
	</ul>
	<br>



	<h5>Software Developer Intern</h5>
	<ul>Union Home Mortgage · Strongsville, Ohio - May 2017 to August 2017
		<ul>
			<li>Collaborated in a team to plan, develop, and test software using the Agile Scrum methodology.</li>
			<li>Responsible for developing and maintaining custom software that addressed unique business challenges, on
				multiple platforms</li>
			<li>Modified existing code to add features and make fixes in multiple languages including C#, HTML,
				javascript.</li>
			<li>Automated filling out of paperwork.</li>
		</ul>
	</ul>
	<br>

	<h5>Summer Undergraduate Research Experience internship</h5>
	<ul>Kent State University Kent campus · Kent, Ohio · June 2016 to August 2016
		<ul>
			<li>Collaborated with professor to implement program spelled out in professor’s paper.</li>
			<li>Purpose of program is to use data mining and analysis to generate personalized recommendations that
				allows the user to best achieve their learning goal.</li>
			<li>Planned, designed, and implemented a REST API, written in node.js, which interfaces with a mongoDB
				database.</li>
			<li>Wrote documentation for api and android application.</li>
		</ul>
	</ul>
	<br>


	<h5>Undergraduate Research Assistantship</h5>
	<ul>Kent State University Stark campus · North Canton, Ohio · June 2016 to August 2016
		<ul>
			<li>Continued development of backend program based on idea outlined in Dr. Guercio's paper.</li>
			<li>Purpose of program is to use data mining and analysis to generate personalized recommendations that
				allows the user to best achieve their learning goal.</li>
			<li>Wrote documentation for api and android application.</li>
		</ul>

	</ul>
	<br>

	<h5>Computer Science Tutor</h5>
	<ul>Kent State University Stark campus • North Canton, Ohio • January 2015 to present
		<ul>
			<li>Mentored students in Computer Science and Computer Technology classes with understanding basic and
				mid-level programming concepts.</li>
		</ul>
	</ul>
	<br>

	<!-- website admin -->
	<h5>Website Developer:</h5>
	<ul>It’s A Dusey! – Fashion and Costume Jewelery • Canton, Ohio • February 2012 to present
		<ul>
			<li>Set up of web pages, taking and uploading pictures, entering products, prices and information about
				company onto a web page.</li>
			<li>Create and maintain Facebook accounts.</li>
			<li>Assisting in the collection and processing of customer orders</li>
			<li>General IT support.</li>
		</ul>